---
---

/* Make the main content area wider on large screens */
@media (min-width: 1200px) {
  main.col-xl-9 {
    flex: 0 0 auto;
    width: 11/12 * 100%; /* ~91.666% */
    max-width: none;
  }
}

/* Even wider on very large screens */
@media (min-width: 1400px) {
  main.col-xl-9 {
    width: 10/12 * 100%; /* ~83.333% (tweak if you want wider) */
  }
}

/* Optional: reduce the side padding a bit */
.container,
.container-fluid,
.container-xxl {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
